<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalhd.mapper.ExamRecordMapper">
<select id="getrecord"  resultType="com.alibaba.fastjson.JSONObject">

    SELECT
    a.record_id as RecordId,
    a.exam_id as ExamId,
    a.answer_score as AnswerScore,
    a.create_time as CreateTime,
    a.user_id  as UserId,
    b.exam_name as ExamName,
    b.exam_score as ExamMaxScore,
    b.exam_switch as Examswitch,
    b.exam_type as Examtype,
    b.exam_review as Examreview
    from exam_record a, exam b
    where a.user_id=#{userid} and a.exam_id=b.exam_id

</select>
    <select id="getexamresult"  resultType="com.alibaba.fastjson.JSONObject">
        select b.user_id  as UserId,
               b.exam_id  as ExamId,
               c.record_id as RecordId,
               c.answer_score as AnswerScore,
               c.create_time as CreateTime,
               d.nickname as NickName ,
               d.classname as ClassName
        from

            (SELECT * FROM final.exam_user a where a.exam_id=#{examid}) as b
                left join exam_record c on b.exam_id=c.exam_id and b.user_id=c.user_id
                left join t_user d on d.id=b.user_id;


    </select>
    <select id="getwrongquestion"  resultType="com.alibaba.fastjson.JSONObject">
        SELECT a.question_id as questionId,
               a.exam_id as examId,
               b.create_time as CreateTime,
               c.exam_name as examName,
               d.question_name as questionName,
               d.question_option_ids as questionOptionIds,
               d.question_answer_option_ids as questionAnswerOptionIds,
               d.question_description as questionDescription,
               d.question_level_id as questionLevelId,
               d.question_type_id as questionTypeId,
               e.question_category_name as questionCategoryName
        FROM exam_question_record a,exam_record b,exam c,question d,question_category e where
        b.user_id=#{userid}
        and b.exam_id=a.exam_id
        and a.correct>1
        and b.exam_id=c.exam_id
        and d.question_id=a.question_id
        and d.question_category=e.question_category_id
        order by b.create_time desc
    </select>
</mapper>
