<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalhd.mapper.QuestionMapper">
   <select id="selectallquestion"    resultType="com.example.finalhd.entity.Question"
           >
       select * from question
   </select>
   <insert id="addquestion" parameterType="com.example.finalhd.entity.Question">
   insert into(question_id,question_name,
       question_score,
       question_creator_id,
       question_level_id,
       question_type_id,
       question_category_id,
       question_description,
       question_option_ids,
       question_answer_option_ids,
       create_time
       )
values(#{question_score},
       #{question_creator_id},
       #{question_level_id},
       #{question_type_id},
       #{question_category_id},
       #{question_description},
       #{question_option_ids},
       #{question_answer_option_ids},
       #{create_time}
       )
   </insert>
</mapper>
