<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalhd.mapper.QuestionMapper">
   <select id="selectallquestion"    resultType="com.alibaba.fastjson.JSONObject"
           >
       SELECT a.question_id as questionId,
              a.question_name as questionName,
              a.question_creator_id as questionCreatorId,
              a.question_level_id as questionLevelId,
              a.question_type_id as questionTypeId,
              a.question_score as questionScore,
              a.question_category as questionCategoryid,
              a.question_description as questionDescription,
              a.question_option_ids as questionOptionIds,
              a.question_answer_option_ids as questionAnswerOptionIds,
              a.create_time as createTime,
              a.update_time as updateTime,
              b.question_category_name as questionCategoryName,
              a.question_photos as questionPhotos,
              c.nickname as createname
       FROM question a,question_category b,t_user c
       where a.question_category=b.question_category_id
           and c.id=a.question_creator_id
       <if test='#{usertype}!="1"'>
           and a.question_creator_id=#{userid}
       </if>
   </select>
   <delete id="deletequestion" parameterType="com.example.finalhd.entity.Question">
     delete from question where question_id=#{questionid}
   </delete>
    <delete id="deletequestionoption" parameterType="com.example.finalhd.entity.Question">
        delete from question_option where question_option_id=#{questionoptionid}
    </delete>
    <select id="randomquestion" resultType="com.alibaba.fastjson.JSONObject" >
        SELECT a.question_id as questionId,
               a.question_name as questionName,
               a.question_creator_id as questionCreatorId,
               a.question_level_id as questionLevelId,
               a.question_type_id as questionTypeId,
               a.question_score as questionScore,
               a.question_category as questionCategoryid,
               a.question_description as questionDescription,
               a.question_option_ids as questionOptionIds,
               a.question_answer_option_ids as questionAnswerOptionIds,
               a.create_time as createTime,
               a.update_time as updateTime,
               b.question_category_name as questionCategoryName,
               a.question_photos as questionPhotos
        FROM question a,question_category b
        where a.question_category=b.question_category_id
        and a.question_type_id=#{questiontype}
        and a.question_category=#{category}
        ORDER BY RAND() LIMIT 1
    </select>

    <select id="getrandomquestion" resultType="com.example.finalhd.entity.Question">
        select * from
        question a
        where
        a.question_category=#{category}
        and a.question_level_id=#{level}
        order by rand() limit #{number}
    </select>
</mapper>
